<!DOCTYPE html>
<html class="bg-dark">
<% include head %>
<body>
  <% include nav %>
  <div class="container">
    <div class="row"> 
      <% for(var i = 0 ; i<albums.length ; i++){%>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
          <h3 class="capitlize"><%=albums[i].name%></h3>
          <img src= "<%= albums[i].cover %>" class="img-fluid small-img" onclick="document.location='albums_photos/<%=albums[i].id %>'">                                                                                                    
        </div>       
      <%}%>  
      <% if (user) { %>  
      <div class= "plus col-12 col-md-6 col-lg-4 col-xl-4" onclick="document.location='./uploadalbum'">
        <i class="fa fa-fw fa-plus-circle"></i>
      </div>
      <% } %>    
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
            $(".small-img").css('opacity', 1);
    </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <% include footer %>
  </body>
</html>