
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-5 mb-lg-0">
        <h4 class="footer-text">Made With:</h4>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw icon-bootstrap"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw icon-jquery"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw icon-mongodb"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw icon-nodejs"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw icon-npm"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw icon-javascript-alt"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw icon-html5-alt"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw icon-css3-alt"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 mb-5 mb-lg-0">
        <h4 class="footer-text">Made By: Maayan Daester Weiss</h4> 
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/maayand" target="_blank">
              <i class="fa fa-fw fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.linkedin.com/in/maayan-daester/" target="_blank">
              <i class="fa fa-fw fa-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://stackoverflow.com/users/9143801/maayand?tab=profile" target="_blank">
              <i class="fa fa-fw fa-stack-overflow"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>