<!DOCTYPE html>
<html class="bg-dark">
  <% include head %>
  <body>
    <% include nav %>
    <div class="container">
        <form class="form-signin" role="form" action="/register" method="post" style="max-width: 300px">
          <h2 class="form-signin-heading">Sign Up here</h2>
          <input class="form-control" type="text" name="name" placeholder="Your Name"/>
          <input class="form-control" type="text" name="username" placeholder="Your Username"/>
          <input class="form-control" type="password" name="password" placeholder="Your Password"/>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        </form>
      </div>
    <% include footer %>
  </body>
</html>
 